
.skeleton {
   margin-top: 118px;
   width: 90vw;
   // margin-top: 80px;
   display: flex;
   justify-content: space-between;
   // justify-items: center;
   // align-items: center;
   gap: 20px;
   // row-gap: 100px;

   &__item {
      display: flex;
      flex: 0 1 32%;
   }

   &__img {
      width: 330px;
      height: 480px;
      background-color: #C4C4C4;
      img {
         width: 100%;
         height: 100%;
      }
   }

   &__inner {
      margin-left: 15px;
   }

   &__title {
      width: 230px;
      height: 35px;
      background-color: #C4C4C4;
   }

   &__description {
      width: 230px;
      height: 60px;
      background-color: #C4C4C4;
   }
}
