.spinner {
   width: 90vw;
   display: flex;
   justify-content: space-between;
   gap: 30px;
   &__item {
      display: flex;
      flex: 0 1 32%;
   }
   &__img {
      width: 400px;
      height: 580px;
      background-color: #C4C4C4;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__inner {
      margin-left: 30px;
   }

   &__title {
      width: 300px;
      height: 40px;
      background-color: #C4C4C4;
   }
   &__description {
      display: flex;
   }
   &__description-one {
      margin-top: 20px;
      width: 210px;
      height: 330px;
      background-color: #C4C4C4;
   }
   &__description-two {
      margin: 20px 0px 0px 100px;
      width: 220px;
      height: 330px;
      background-color: #C4C4C4;
   }
   &__description-three {
      margin: 30px 0px 0px 0px;
      width: 820px;
      height: 90px;
      background-color: #C4C4C4;
   }
   &__second-item {
      margin-right: 200px;
      width: 220px;
      height: 480px;
      background-color: #C4C4C4;
   }
}
