@import '../../styles/global.scss';

.film {
   font-size: 16px;
   display: grid;
   grid-template-columns: 400px 2fr 1fr;
   grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
   column-gap: 40px;
   row-gap: 100px;
   &__img {
      width: 400px;
   }

   &__info {
   }

   &__similars {
   }

   &__right-bar {
   }

   &__ratio {
      @include style (0.88rem, 160%, inherit, inherit);
      margin-bottom: 50px;
      &>*{
         display: flex;
      }
      &>*>:first-child {
         width: 180px;
      }
   }

   &__actors {
      @include style (0.77rem, 160%, inherit, inherit);
      &>:first-child {
         font-size: 16px;
         margin-bottom: 10px;
      }
   }
}

.info {
   line-height: 200%;
   &>*:not(:last-child){
      display: flex;
   }
   &>*>:first-child {
      width: 300px;
      color: gray;
   }

   &__title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
   }

   &__descr {
      margin-top: 30px;
   }
}

.similars {
   margin-bottom: 60px;
   padding: 0 50px;
   grid-column: span 3;
   overflow: hidden;

   &__items {
      display: flex;
      gap: 10;
   }
   &__item {
      width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         width: 180px;
         margin: 0 auto;
      }
      h3 {
         font-size: 16px;
         line-height: 200%;
      }
      span {
         font-size: 14px;
         color: gray;
      }
   }
}

.link {
   cursor: pointer;
}